fastapi>=0.104.0
uvicorn>=0.24.0
requests>=2.31.0
flask>=2.0
flask-cors>=3.0
livekit>=0.1.0
livekit-agents>=0.8.0
livekit-plugins-groq>=1.1.1
livekit-plugins-silero>=0.8.0
livekit-plugins-deepgram>=0.8.0
livekit-plugins-azure>=0.8.0
livekit-plugins-openai>=1.1.1
livekit-plugins-anthropic>=0.8.0
livekit-plugins-elevenlabs>=0.8.0
livekit-plugins-google>=0.8.0
backoff>=2.2.1
flask-json-schema
python-dotenv
gunicorn
